<h1>User Profile</h1>
<dl>
  <dt>Full Name</dt>
  <dd><%= @user.name %></dd>

  <dt>Email Address</dt>
  <dd><%= @user.email %></dd>

  <dt>Verification Status</dt>
  <dd>
    <% if @user.need_paranoid_verification? %>
    <div class="badge badge-danger">
      Unverified</div>&nbsp;
    <% if current_user.has_role?(:verifier) %>
    <em>User needs to enter their verification code:</em> <%= @user.paranoid_verification_code %>
    <% end %>
    <% else %>
    <div class="badge badge-success">Verified</div>
    <% end %>
  </dd>

  <dt>Roles</dt>
  <dd>
    <ul>
      <% @user.roles.where(resource: nil).each do |role| %>
      <li><%= role.name %></li>
      <% end %>
    </ul>

  </dd>
</dl>

<div class="add-role">
  <h4>Add a Role</h4>
  <hr>
  <%= form_with scope: :role, local: true, url: users_profile_roles_path(@user), class: 'form-inline' do |f| %>
  <div class="form-group">
    <%= f.label :name, "Role" %>
    <%= f.collection_select :name, Role.all.where(resource: nil), :name, :name %>
  </div>
  <%= f.submit "Add Role", class: 'btn btn-outline-primary' %>
  <% end %>
</div>